.top-container {
  display: flex;
  justify-content: center;

  .barra_pesquisa {
    padding: 5px 10px;
    border: 1px solid black;
    max-width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pesquisa {
      border: none;
      width: 100%;
      padding-right: 10px;
      font-size: 22px;
      color: lightgray;
    }
  }
}

.col-6 {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 50%;
  }
}

p {
  text-align: center;
  padding-bottom: 30px;
  color: #004F63;
  font-size: 22px;

  &:hover {
    text-decoration: underline #004F63;
    cursor: pointer;
  }
}
