<div class="top-container">
  <div class="barra_pesquisa">
    <input class="pesquisa" placeholder="Procurar" ngModel (ngModelChange)="getPesquisar($event)">
    <fa-icon [icon]="faMagnifyingGlass" class="fa-lg" style="color:lightgray"></fa-icon>
  </div>
</div>
<div class="col-6">
  <app-casa
    *ngFor="let casa of this.lista_casas"
    [id]="casa.id"
    [country]="casa.country"
    [city]="casa.city"
    [rating]="casa.rating"
    [price]="casa.price"
    [host_type]="casa.host_type"
    [featured_photo]="casa.featured_photo">
  </app-casa>
</div>
<p (click)="maisResultados()">mais resultados</p>


