.barra_pesquisa {
  padding: 5px 10px;
  border: 1px solid black;
  width: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pesquisa {
    border: none;
    width: 90%;
    padding-right: 10px;
    font-size: 22px;
    color:lightgray;
  }
}

.col-6 {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  justify-items: center;
}

@media (min-width: 768px) {
  .col-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 100px) {
  .cl-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

