<div class="nav_bar">
  <div class="icones">
    <div class="icon" id="search" routerLink="catalogo" routerLinkActive="active">
      <fa-icon [icon]="faMagnifyingGlass" class="fa-2x"></fa-icon>
    </div>
    <div class="logo_menu">
      <img src="../../assets/logo_menu.svg" alt="Home" routerLink="perfil">
    </div>
    <div class="icon" id="heart" routerLink="favoritos" routerLinkActive="active">
      <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
    </div>
  </div>
  <div>
  </div>
</div>

