.info_comentario {
  display: flex;

  img {
    border-radius: 50%;
    width: 60px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .dados {
    padding-top: 10px;
    padding-left: 20px;
    height: 10px;

    .data {
      font-size: 14px;
      color: grey;

    }

  }
}
