<h1>Favoritos</h1>
<div class="container" *ngFor="let country of lista_ordenada">
  <p class="pais">{{country}}</p>
  <ng-container *ngFor="let casa of lista_favoritos">
    <app-casa
      *ngIf="casa.country == country"
      [id]="casa.id"
      [featured_photo]="casa.featured_photo"
      [country]="casa.country"
      [city]="casa.city"
      [rating]="casa.rating"
      [price]="casa.price"
      [host_type]="casa.host_type"
      type="favorito">
    </app-casa>
  </ng-container>
</div>



