<div class="container">
  <app-imagem
    [featured_photo]="featured_photo"
    [id]="id"
  ></app-imagem>
    <div class="info_casa" [routerLink]="['/detalhes',id]">
      <h4 class="localizacao">{{city}}, {{country}}</h4>
      <div class="rating">
        <fa-icon [icon]="faStar"></fa-icon>
        {{rating}}
      </div>
    </div>
  <div class="anfitriao" *ngIf="host_type">Anfitrião {{host_type}}</div>
  <div class="data" *ngIf="time">{{time}}</div>
  <div class="preco"><strong>{{ price}}€</strong> noite</div>

</div>

