.container {
  padding-bottom: 30px;
  height: auto;

  img {
    width: 300px;
    border-radius: 10px;
  }

  .info_casa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;

    fa-icon{
      padding-right: 5px;
    }
  }
  .anfitriao{
    height: 25px;
    color: grey;
  }
}
