<app-casa
  *ngIf="detalhes"
  [id]="detalhes.id"
  [title]="detalhes.title"
  [featured_photo]="detalhes.featured_photo"
  [country]="detalhes.country"
  [city]="detalhes.city"
  [rating]="detalhes.rating"
  [price]="detalhes.price"
  [description]="detalhes.description">
</app-casa>

<app-regras></app-regras>

<p><strong>Sobre o anfitrião</strong></p>

<app-anfitriao
  *ngIf="anfitriao"
  [name]="anfitriao.name"
  [photo]="anfitriao.photo"
  [type]="anfitriao.type"
  [rating]="anfitriao.rating">
</app-anfitriao>

<p><strong>Galeria</strong></p>
<div id="galeria-wrapper">
  <app-galeria *ngFor="let foto of this.galeria"
               [photos]="foto">
  </app-galeria>

</div>

<h4>Comentários</h4>
<div *ngIf="comentarios">
  <app-comentario
    *ngFor="let comentario of comentarios"
    [name]="comentario.name"
    [photo]="comentario.photo"
    [date]="comentario.date"
    [comment]="comentario.comment">
  </app-comentario>
</div>


